{% extends 'rooms/layout.twig' %}

{% block body %}
  <button id="btnLogout" class="btn btn-secondary my-2">Déconnexion</button>
  <button id="" class="btn btn-secondary my-2">Nouveau tchat</button>
{% endblock %}
