body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
}

.divbtn{
  display:flex;
  flex-direction: row;
}
@import "../../node_modules/bootstrap/scss/bootstrap";
